TestClientSOAP/WebContent/wsdl/SOAPClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.tesi" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.tesi" xmlns:intf="http://service.tesi" xmlns:tns1="http://model.tesi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.tesi" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.tesi"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="terminalName" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
      <element name="police" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logout">
    <complexType>
     <sequence>
      <element name="terminal" type="xsd:string"/>
      <element name="police" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutResponse">
    <complexType/>
   </element>
   <element name="stopTerminal">
    <complexType>
     <sequence>
      <element name="terminalName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="stopTerminalResponse">
    <complexType/>
   </element>
   <element name="releaseTerminal">
    <complexType>
     <sequence>
      <element name="terminalName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="releaseTerminalResponse">
    <complexType/>
   </element>
   <element name="getNextPassenger">
    <complexType>
     <sequence>
      <element name="terminal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNextPassengerResponse">
    <complexType>
     <sequence>
      <element name="getNextPassengerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePassenger">
    <complexType>
     <sequence>
      <element name="passenger" type="xsd:string"/>
      <element name="passed" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePassengerResponse">
    <complexType/>
   </element>
   <element name="getDocument">
    <complexType>
     <sequence>
      <element name="terminal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDocumentResponse">
    <complexType>
     <sequence>
      <element name="getDocumentReturn" type="tns1:CustomsDocument"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.tesi" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CustomsDocument">
    <sequence>
     <element name="content" nillable="true" type="xsd:base64Binary"/>
     <element name="passenger" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNextPassengerRequest">

      <wsdl:part element="impl:getNextPassenger" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePassengerResponse">

      <wsdl:part element="impl:updatePassengerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentResponse">

      <wsdl:part element="impl:getDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNextPassengerResponse">

      <wsdl:part element="impl:getNextPassengerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutResponse">

      <wsdl:part element="impl:logoutResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logoutRequest">

      <wsdl:part element="impl:logout" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="stopTerminalResponse">

      <wsdl:part element="impl:stopTerminalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePassengerRequest">

      <wsdl:part element="impl:updatePassenger" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="stopTerminalRequest">

      <wsdl:part element="impl:stopTerminal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="releaseTerminalRequest">

      <wsdl:part element="impl:releaseTerminal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDocumentRequest">

      <wsdl:part element="impl:getDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="releaseTerminalResponse">

      <wsdl:part element="impl:releaseTerminalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPClientService">

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdl:input message="impl:logoutRequest" name="logoutRequest">

       </wsdl:input>

         <wsdl:output message="impl:logoutResponse" name="logoutResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stopTerminal">

         <wsdl:input message="impl:stopTerminalRequest" name="stopTerminalRequest">

       </wsdl:input>

         <wsdl:output message="impl:stopTerminalResponse" name="stopTerminalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="releaseTerminal">

         <wsdl:input message="impl:releaseTerminalRequest" name="releaseTerminalRequest">

       </wsdl:input>

         <wsdl:output message="impl:releaseTerminalResponse" name="releaseTerminalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNextPassenger">

         <wsdl:input message="impl:getNextPassengerRequest" name="getNextPassengerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNextPassengerResponse" name="getNextPassengerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassenger">

         <wsdl:input message="impl:updatePassengerRequest" name="updatePassengerRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePassengerResponse" name="updatePassengerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocument">

         <wsdl:input message="impl:getDocumentRequest" name="getDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDocumentResponse" name="getDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPClientServiceSoapBinding" type="impl:SOAPClientService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="logout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stopTerminal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stopTerminalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="stopTerminalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="releaseTerminal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="releaseTerminalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="releaseTerminalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNextPassenger">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNextPassengerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNextPassengerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassenger">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePassengerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePassengerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPClientServiceService">

      <wsdl:port binding="impl:SOAPClientServiceSoapBinding" name="SOAPClientService">

         <wsdlsoap:address location="http://localhost:8080/TestClientSOAP/services/SOAPClientService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
